@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-\[moveLeft_500ms_ease-in-out_forwards\] {
  animation: moveLeft 300ms ease forwards;
}

@keyframes moveRight {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
}
  
.animate-\[moveRight_500ms_ease-in-out_forwards\] {
  animation: moveRight 300ms ease forwards;
}

.blur-md {
  --tw-blur: blur(12px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

/* Hides scrollbar while still allowing scrolling */
textarea {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

textarea::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and other Webkit-based browsers */
}

.inline {
  display: inline;
}

.mt-1 {
  margin-top: 0.25rem;
}

.max-w-xs {
  max-width: 20rem;
}

.items-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
